@use '../../../../scss/utility' as u;

.user {
  margin: u.rem(60) 0;

  .user__content {
    @include u.flex(center, flex-start);
    flex-direction: column;
    gap: u.rem(20);
    padding: u.rem(16);

    h2 {
      font-weight: 500;
    }

    .user__img {
      width: 100%;

      .img {
        display: block;
        width: 50%;
        border-radius: 50%;
        margin: 0 auto;
      }
    }

    .user__container {
      width: 100%;

      .user__title {
        @include u.flex(space-between, center);
        cursor: pointer;

        h3 {
          font-weight: 600;
          letter-spacing: 1.2px;
        }
      }

      .user__detail {
        display: none;
      }
      .user__detail--active {
        display: block;
      }
    }
  }
}

table {
  border-collapse: separate;
  border-spacing: u.rem(10);
}

// useEffect(() => {
//   (async () => {
//     const data = await fetch('https://tinyfac.es/api/data?limit=1&quality=0');
//     const [res] = await data.json();
//     setState({ ...state, profileImg: res.url });
//   })();
//   console.log(state.profileImg);
// }, []);
