@use '../../../../scss/utility' as u;

.user {
  margin: u.rem(60) 0;

  .user__content {
    @include u.flex(center, flex-start);
    flex-direction: column;
    gap: u.rem(20);
    padding: u.rem(16);

    .user__greeting {
      @include u.flex(space-between, center);
      width: 100%;

      .greeting {
        font-weight: 500;
        letter-spacing: 1.2px;
      }

      .icon {
        @include u.icon(mobile);
      }
    }

    .user__img {
      @include u.flex();

      .img {
        display: inline-block;
        width: 40%;
        border-radius: 50%;
      }

      @include u.breakpoint(desktop) {
        justify-content: flex-start;

        .img {
          width: 80%;
        }
      }
    }

    .user__container {
      width: 100%;

      .user__title {
        @include u.flex(space-between, center);
        cursor: pointer;

        h4 {
          font-weight: 500;
          letter-spacing: 1.2px;
        }
      }

      .user__detail {
        display: none;
      }
      .user__detail.active {
        display: block;
      }
    }
  }

  @include u.breakpoint(tablet) {
    margin: u.rem(70) 0;

    .icon__caret {
      font-size: u.rem(24);
    }

    .user__content {
      gap: u.rem(40);
      padding: u.rem(32);

      .user__greeting {
        @include u.flex(space-between, center);
        width: 100%;

        .greeting {
          font-size: u.rem(32);
          font-weight: 600;
        }

        .icon {
          @include u.icon(tablet);
        }
      }

      .user__container {
        .user__title {
          .title {
            font-size: u.rem(28);
            font-weight: 600;
          }
        }

        .user__detail {
          td:first-child {
            font-weight: 500;
          }

          td {
            font-size: u.rem(24);
          }
        }

        @include u.breakpoint(desktop) {
          .user__title {
            .title {
              font-size: u.rem(24);
              font-weight: 500;
            }
          }

          .user__detail {
            td:first-child {
              font-weight: 400;
            }

            td {
              font-size: u.rem(20);
            }
          }
        }
      }
    }
  }
}

table {
  border-collapse: separate;
  border-spacing: u.rem(10);
}

.container-user {
  @include u.flex(center, flex-start);
  flex-direction: column;
  gap: u.rem(44);

  .user__img {
    flex: 1;
  }

  .container-data {
    flex: 1;
    @include u.flex(space-around, flex-start);
    flex-direction: column;
    gap: u.rem(16);
    height: 100%;
  }

  @include u.breakpoint(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .user__img {
      align-self: flex-start;
    }

    .container-data {
      flex: 3;
      justify-content: flex-start;
      gap: u.rem(32);
    }
  }
}

.logout {
  font-size: u.rem(28);
}

// useEffect(() => {
//   (async () => {
//     const data = await fetch('https://tinyfac.es/api/data?limit=1&quality=0');
//     const [res] = await data.json();
//     setState({ ...state, profileImg: res.url });
//   })();
//   console.log(state.profileImg);
// }, []);
