@use '../../scss/utility' as u;

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__summer {
    @extend .hero;
    background: radial-gradient(#fffbcc, #fff9b6);
  }

  &__best {
    @extend .hero;
    // background: radial-gradient(#f58787, #b22727);
    background: radial-gradient(#c96868, #b22727);
  }

  &__casual {
    @extend .hero;
    background: radial-gradient(#e0e8e7, #d3dedc);
  }

  &__heading {
    text-transform: uppercase;
    font-size: u.rem(32);
    letter-spacing: 3px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding: 1rem 0.5rem;

    &--summer {
      @extend .hero__heading;
      font-size: u.rem(28);

      span {
        font-size: u.rem(86);
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    &--best {
      @extend .hero__heading;
      font-size: u.rem(52);
      font-weight: 500;
      font-family: u.$heading-font;
      letter-spacing: -1px;

      p {
        margin-top: u.rem(16);
        font-size: u.rem(24);
        font-weight: 400;
        letter-spacing: 5px;
        line-height: 1;
      }
    }

    &--casual {
      @extend .hero__heading;
      font-size: u.rem(32);
    }
  }

  &__img {
    height: 100%;

    &--summer {
      @extend .hero__img;
    }

    &--best {
      @extend .hero__img;
    }
    &--casual {
      @extend .hero__img;
    }
  }
}

.overlay {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--summer {
    @extend .overlay;
    background-color: rgba(255, 146, 146, 0.3);
    z-index: 2;
  }

  &--best {
    @extend .overlay;
    background-color: rgba(240, 212, 212, 0.3);
    top: 0;
    left: 0;
    transform: translate(0, 50%);
  }

  &--casual {
    @extend .overlay;
    background-color: rgba(124, 153, 172, 0.3);
  }
}
