@use '../../../scss/utility' as u;

.search-result {
  @include u.flex(space-between, center);
  height: u.rem(35);
  width: 50%;
  position: absolute;
  top: 7.5%;
  right: 0;
  z-index: 2;
  background-color: #fff;
  cursor: pointer;

  &__img {
    flex: 1;
    height: 30px;
    object-fit: contain;
  }

  &__title {
    flex: 2;
    font-size: u.rem(10);
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
