@use '../../scss/utility' as u;

.nav {
  @include u.flex(space-around, center);
  background-color: #fff;
  // height: u.rem(50);
  padding: 0.7rem 1rem 0.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 5px 0px;

  &__icon {
    @include u.icon;

    &--cart {
      @extend .nav__icon;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .notification {
    position: relative;

    .nav__icon--cart {
      @include u.icon;
    }

    .indicator {
      display: none;

      &__wishlist {
        display: none;
      }
    }

    .indicator--active {
      width: 15px;
      height: 15px;
      background-color: red;
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      border-radius: 50%;
      font-size: 10px;
      @include u.flex();
      color: #fff;
      font-weight: 600;
    }
  }
}

.indicator__wishlist--active {
  @extend .indicator--active;
  transform: translate(-20%, -50%) !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid #000;
  }
}

.nav__title {
  font-size: u.rem(10);
  letter-spacing: 1px;
  color: black;
}
