@use '../../../scss/utility' as u;

.confirmation {
  margin: u.rem(60) 0;
  padding: 0 u.rem(16);

  @include u.breakpoint(tablet) {
    margin: u.rem(112) 0;
    padding: 0 u.rem(32);
  }

  &__container {
    .title {
      text-align: left;
      margin-bottom: u.rem(32);

      h2 {
        font-weight: 600;
        letter-spacing: 1.2px;
      }
    }

    .items__list {
      width: 100%;
      margin-bottom: u.rem(48);

      table {
        border-collapse: collapse;
      }

      tbody tr:nth-child(even) {
        background-color: rgb(234, 234, 234);
      }

      thead::after {
        content: '';
        display: block;
        height: u.rem(12);
      }

      tbody::after {
        content: '';
        display: block;
        height: u.rem(24);
      }

      .num {
        text-align: center;
      }

      .table__title {
        margin: 8px 0;
        overflow: hidden;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 1.2;
      }

      .table__num,
      .table__qty {
        text-align: center;
      }

      .table__totalQty {
        font-weight: 600;
      }

      .table__total--tfoot {
        text-align: center;
        font-weight: 600;
      }

      .table__totalPrice {
        font-weight: 600;
      }
    }

    .shipping__information {
      margin-bottom: u.rem(48);

      .information {
        display: inline-block;
        border: 1px solid #888;
        padding: u.rem(16);
        line-height: 1.5;

        .fullname {
          font-weight: 600;
          margin-bottom: 8px;
        }
      }
    }

    .payment__method {
      .title__credit {
        font-size: u.rem(12);
        margin-bottom: u.rem(8);
      }

      .credit__cards {
        @include u.flex(flex-start, center);
        gap: 6px;
        margin-bottom: u.rem(40);
      }
      .cc__container {
        width: u.rem(64);

        .card {
          width: 100%;
          cursor: pointer;
        }
      }

      .input__cc {
        width: 100%;

        form {
          @include u.flex(center, flex-start);
          flex-direction: column;

          label {
            margin-bottom: u.rem(6);
          }

          input {
            padding: u.rem(6);
            margin-bottom: u.rem(12);
            border: solid 1px #999;

            &:focus {
              outline: none;
            }
          }
          button {
            background-color: #000;
            color: #fff;
            font-size: 1rem;
            width: 100%;
            padding: 12px 0;
          }
        }
      }
    }

    @include u.breakpoint(tablet) {
      .title {
        h2 {
          font-size: u.rem(32);
        }
      }

      .items__list {
        margin-bottom: u.rem(96);

        .table__title,
        .table__num,
        .table__qty,
        .table__total {
          font-size: u.rem(18);
        }

        .table__total--tfoot,
        .table__totalQty,
        .table__totalPrice {
          font-size: u.rem(24);
        }
      }

      .shipping__information {
        margin-bottom: u.rem(96);

        .information {
          display: inline-block;
          border: 1px solid #888;
          padding: u.rem(16);
          line-height: 1.5;

          p {
            font-size: u.rem(24);
          }

          .fullname {
            font-size: u.rem(28);
          }
        }
      }

      .payment__method {
        .title__credit {
          font-size: u.rem(18);
          margin-bottom: u.rem(12);
        }

        .credit__cards {
          @include u.flex(flex-start, center);
          gap: 6px;
          margin-bottom: u.rem(56);

          .cc__container {
            width: u.rem(80);
          }
        }

        .input__cc {
          width: 100%;

          form {
            @include u.flex(center, flex-start);
            flex-direction: column;

            label {
              margin-bottom: u.rem(6);
            }

            input {
              padding: u.rem(6);
              margin-bottom: u.rem(12);
              border: solid 1px #999;
              font-size: u.rem(18);

              &:focus {
                outline: none;
              }
            }

            button {
              font-size: u.rem(22);
            }
          }
        }
      }
    }
  }
}
