@use '../../../scss/utility' as u;

.singleproduct {
  margin: u.rem(65) 0 u.rem(70);
  // height: 100%;
  // @include u.flex();

  &__container {
    @include u.flex();
    padding: 0 u.rem(16);
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: u.rem(40);
  }

  .container__img {
    @include u.flex();
    width: 100%;

    .img {
      width: 50%;
    }
  }

  .container__desc {
    margin-bottom: u.rem(16);
    .container {
      margin-bottom: u.rem(24);
      @include u.flex(space-between, center);

      .icon__wishlist {
        font-size: u.rem(30);
        cursor: pointer;

        &--active {
          display: none;
        }
      }
    }

    .desc__title {
      line-height: 1.2;
      font-weight: 500;
      margin-bottom: u.rem(8);
    }

    .desc__rating {
      @include u.flex(flex-start, center);
      margin-bottom: u.rem(30);
      color: #333;

      .rating__detail {
        font-size: u.rem(14);
        margin-left: 4px;
      }
    }

    .desc__detail__title {
      font-size: u.rem(14);
      margin-bottom: u.rem(8);
    }

    .desc__detail {
      color: #555;
      line-height: 1.4;
      letter-spacing: 1px;
      font-size: u.rem(14);
      margin-bottom: 6px;
      &--active {
        margin-bottom: 6px;
        color: #555;
        font-size: u.rem(14);
        line-height: 1.4;
        letter-spacing: 1px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }

    button {
      color: rgb(75, 75, 233);
      font-size: u.rem(14);
    }
  }

  .container__act {
    cursor: pointer;
    width: 100%;
    button {
      background-color: #000;
      color: #fff;
      font-size: u.rem(16);
      width: 100%;
      padding: 12px 0;
    }
  }

  @include u.breakpoint(tablet) {
    margin: u.rem(96) 0;

    &__container {
      padding: 0 u.rem(32);
    }

    &__container {
      gap: u.rem(80);
    }

    .container__desc {
      .container {
        margin-bottom: u.rem(32);

        .desc__price {
          font-size: u.rem(40);
        }

        .icon__wishlist {
          font-size: u.rem(44);
        }
      }

      .desc__title {
        font-size: u.rem(28);
        line-height: 1.4;
        font-weight: 600;
        margin-bottom: u.rem(14);
      }

      .desc__rating {
        margin-bottom: u.rem(30);

        .rating__detail {
          font-size: u.rem(24);
        }
      }

      .desc__detail__title {
        font-size: u.rem(18);
        margin-bottom: u.rem(8);
      }

      .desc__detail {
        line-height: 1.6;
        font-size: u.rem(20);
        margin-bottom: 12px;
        &--active {
          margin-bottom: 12px;
          font-size: u.rem(20);
          line-height: 1.6;
        }
      }

      button {
        font-size: u.rem(16);
      }
    }

    .container__act {
      button {
        color: #fff;
        font-size: u.rem(24);
        width: 100%;
        padding: 14px 0;
      }
    }
  }

  @include u.breakpoint(desktop) {
    margin: u.rem(65) 0 u.rem(70);
    max-width: u.rem(1440);
    margin: 0 auto;
    height: 100vh;

    &__container {
      padding: 0 u.rem(32);
      width: 100%;
      height: 100%;
      gap: u.rem(32);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .container__img {
      @include u.flex();
      width: 100%;

      .img {
        width: 50%;
      }
    }

    .container__desc {
      .container {
        .desc__price {
          font-size: u.rem(32);
        }

        .icon__wishlist {
          font-size: u.rem(32);
        }
      }

      .desc__title {
        font-size: u.rem(24);
      }

      .desc__rating {
        .rating__detail {
          font-size: u.rem(18);
        }
      }

      .desc__detail__title {
        font-size: u.rem(14);
        margin-bottom: u.rem(8);
      }

      .desc__detail {
        color: #555;
        line-height: 1.4;
        letter-spacing: 1px;
        font-size: u.rem(14);
        margin-bottom: 6px;
        &--active {
          margin-bottom: 6px;
          color: #555;
          font-size: u.rem(14);
          line-height: 1.4;
          letter-spacing: 1px;
          overflow: hidden;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }

      button {
        color: rgb(75, 75, 233);
        font-size: u.rem(14);
      }
    }

    .container__act {
      cursor: pointer;
      width: 50%;
      // margin: 0 auto;
      button {
        background-color: #000;
        color: #fff;
        font-size: u.rem(16);
        width: 100%;
        padding: 12px 0;
      }
    }
  }
}
