@use '../../scss/utility' as u;

.header {
  height: u.rem(50);
  padding: 0 1rem;
  @include u.flex(space-between);
  gap: u.rem(16);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
  background-color: #fff;

  &__logo {
    width: u.rem(110);
    cursor: pointer;
  }
  &__icon {
    &--search {
      @include u.icon;
    }

    &--close {
      display: none;
    }
  }

  &__icon-container {
    @include u.flex;

    input {
      border: none;
      width: 0;
      transition: all 0.5s linear;
    }

    &--active {
      @extend .header__icon-container;
      @include u.flex(flex-end, center);
      // gap: u.rem(8);
      // border-bottom: 1px solid black;
      margin-left: 1rem;

      input {
        display: block;
        background-color: #fff;
        color: #000;
        border: none;
        font-size: u.rem(14);
        width: 100%;
        padding-bottom: 2px;
        border-bottom: 1px solid #000;

        &::placeholder {
          color: rgba(51, 51, 51, 0.3);
        }

        &:focus {
          outline: none;
        }
      }

      .header__icon--close {
        @include u.icon;
        display: block;
        cursor: pointer;
      }

      .header__icon--search {
        margin-right: 5px;
      }
    }
  }
}
