@use '../../../../scss/utility' as u;

.hero.active {
  display: none;
}

.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: u.rem(50) 0;

  &__summer,
  &__best,
  &__casual,
  &__wools {
    @extend .hero;
  }

  &__summer {
    background: radial-gradient(#fffbcc, #fff9b6);
  }

  &__best {
    background: radial-gradient(#c96868, #b22727);
  }

  &__casual {
    background: radial-gradient(#e0e8e7, #d3dedc);
  }

  &__heading {
    text-transform: uppercase;
    font-size: u.rem(32);
    letter-spacing: 3px;
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding: u.rem(16) u.rem(8);

    &--summer,
    &--best,
    &--casual,
    &--wools {
      @extend .hero__heading;
    }

    &--summer {
      font-size: u.rem(28);
      line-height: 1;

      span {
        font-size: u.rem(86);
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    &--best {
      font-size: u.rem(52);
      font-weight: 500;
      font-family: u.$serif-heading-font;
      letter-spacing: -1px;

      p {
        margin-top: u.rem(16);
        font-size: u.rem(24);
        font-weight: 400;
        letter-spacing: 5px;
        line-height: 1.2;
      }
    }

    &--casual {
      font-size: u.rem(32);
    }

    &--wools {
      font-size: u.rem(30);
      padding: u.rem(48) u.rem(8);
      letter-spacing: 2px;
    }

    //RESPONSIVENESS FOR TABLET
    @include u.breakpoint(tablet) {
      &--summer {
        font-size: u.rem(48);

        span {
          font-size: u.rem(128);
        }
      }

      &--best {
        padding: u.rem(32) 0;
        font-size: u.rem(80);
        font-weight: 500;
        font-family: u.$serif-heading-font;
        letter-spacing: 0px;

        p {
          font-size: u.rem(36);
        }
      }

      &--casual {
        font-size: u.rem(56);
        letter-spacing: 5px;
      }

      &--wools {
        font-size: u.rem(48);
        padding: u.rem(48) u.rem(8);
        letter-spacing: 5px;
      }
    }
    /////////////////////////////////
  }

  &__img {
    height: 100%;

    &--summer,
    &--best,
    &--casual,
    &--wools {
      @extend .hero__img;
    }

    &--wools {
      object-fit: cover;
      width: 100%;
    }
  }
}

.overlay {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--summer,
  &--best,
  &--casual,
  &--wools {
    @extend .overlay;
  }

  &--summer {
    background-color: rgba(255, 146, 146, 0.3);
    z-index: 2;
  }

  &--best {
    background-color: rgba(240, 212, 212, 0.3);
    top: 0;
    left: 0;
    transform: translate(0, 50%);
  }

  &--casual {
    background-color: rgba(124, 153, 172, 0.3);
  }

  &--wools {
    background-color: rgba(43, 138, 62, 0.5);
  }

  //RESPONSIVENESS FOR TABLET
  @include u.breakpoint(tablet) {
    &--best {
      top: 10%;
      left: 0;
      transform: translate(0, 50%);
      // padding: u.rem(32);
    }
  }
  ///////////////////////////
}
