@use '../../../../scss/utility' as u;

// .hero.active {
//   display: none;
// }

// .hero {
//   height: 100vh;
//   width: 100%;
//   padding: u.rem(50) 0;
//   display: none;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &__summer,
//   &__best,
//   &__casual,
//   &__wools {
//     @extend .hero;
//   }

//   &__summer {
//     background: radial-gradient(#fffbcc, #fff9b6);
//   }

//   &__best {
//     background: radial-gradient(#c96868, #b22727);
//   }

//   &__casual {
//     background: radial-gradient(#e0e8e7, #d3dedc);
//   }

//   &__heading {
//     text-transform: uppercase;
//     font-size: u.rem(32);
//     letter-spacing: 3px;
//     line-height: 1.4;
//     color: #fff;
//     font-weight: 400;
//     text-align: center;
//     padding: u.rem(16) u.rem(8);

//     &--summer,
//     &--best,
//     &--casual,
//     &--wools {
//       @extend .hero__heading;
//     }

//     &--summer {
//       font-size: u.rem(28);
//       line-height: 1;

//       span {
//         font-size: u.rem(86);
//         font-weight: 900;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//       }
//     }

//     &--best {
//       font-size: u.rem(52);
//       font-weight: 500;
//       font-family: u.$serif-heading-font;
//       letter-spacing: -1px;

//       p {
//         margin-top: u.rem(16);
//         font-size: u.rem(24);
//         font-weight: 400;
//         letter-spacing: 5px;
//         line-height: 1.2;
//       }
//     }

//     &--casual {
//       font-size: u.rem(32);
//     }

//     &--wools {
//       font-size: u.rem(30);
//       padding: u.rem(48) u.rem(8);
//       letter-spacing: 2px;
//     }

//     //RESPONSIVENESS FOR TABLET
//     @include u.breakpoint(tablet) {
//       &--summer {
//         font-size: u.rem(48);

//         span {
//           font-size: u.rem(128);
//         }
//       }

//       &--best {
//         padding: u.rem(32) 0;
//         font-size: u.rem(80);
//         font-weight: 500;
//         font-family: u.$serif-heading-font;
//         letter-spacing: 0px;

//         p {
//           font-size: u.rem(36);
//         }
//       }

//       &--casual {
//         font-size: u.rem(56);
//         letter-spacing: 5px;
//       }

//       &--wools {
//         font-size: u.rem(48);
//         padding: u.rem(48) u.rem(8);
//         letter-spacing: 5px;
//       }
//     }
//     //////////////////////////////////////
//   }

//   &__img {
//     height: 100%;

//     &--summer,
//     &--best,
//     &--casual,
//     &--wools {
//       @extend .hero__img;
//     }

//     &--wools {
//       object-fit: cover;
//       width: 100%;
//     }
//   }
// }

// .overlay {
//   width: 100%;
//   // display: inline-block;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//   &--summer,
//   &--best,
//   &--casual,
//   &--wools {
//     @extend .overlay;
//   }

//   &--summer {
//     background-color: rgba(255, 146, 146, 0.3);
//     z-index: 2;
//   }

//   &--best {
//     background-color: rgba(240, 212, 212, 0.3);
//     top: 0;
//     left: 0;
//     transform: translate(0, 50%);
//   }

//   &--casual {
//     background-color: rgba(124, 153, 172, 0.3);
//   }

//   &--wools {
//     background-color: rgba(43, 138, 62, 0.5);
//   }

//   //RESPONSIVENESS FOR TABLET
//   @include u.breakpoint(tablet) {
//     &--best {
//       top: 10%;
//       left: 0;
//       transform: translate(0, 50%);
//       // padding: u.rem(32);
//     }
//   }
//   ///////////////////////////
// }

// //RESPONSIVENESS FOR DESKTOP
// @include u.breakpoint(desktop) {
//   .hero {
//     padding: 0;
//   }

//   .overlay {
//     position: static;
//     top: 0;
//     left: 0;
//     transform: translate(0, 0);

//     &--summer,
//     &--best,
//     &--casual,
//     &--wools {
//       @extend .overlay;
//     }
//   }
// }
// ////////////////////////////

.hero {
  padding: u.rem(20) 0;
  margin: auto 0;
  height: 100vh;
  width: 100%;

  &--summer,
  &--best,
  &--casual,
  &--wools {
    @extend .hero;
  }

  &--summer {
    background: radial-gradient(#fffbcc, #fff9b6);
  }

  &--best {
    background: radial-gradient(#e96f6f, #e03131);
    // background-color: #e03131;
  }

  &--casual {
    background: radial-gradient(#e0e8e7, #d3dedc);
  }

  &--wools {
    background: rgba(43, 138, 62, 0.6);
  }

  &__container {
    height: 100%;
    width: 100%;
    @include u.flex();
    gap: u.rem(16);
    padding: u.rem(24);
    // padding: u.rem(50) 0;

    @include u.breakpoint(desktop) {
      max-width: u.rem(1440);
      margin: 0 auto;
      padding-top: u.rem(60);
    }

    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      // padding: u.rem(16) 0;
      flex-shrink: 1;
      // flex: 1;

      @include u.breakpoint(desktop) {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 70%;
      }

      .hero__heading {
        text-transform: uppercase;
        font-size: u.rem(32);
        letter-spacing: 3px;
        line-height: 1.4;
        color: #fff;
        font-weight: 400;
        text-align: center;
        padding: u.rem(16) u.rem(8);

        &--summer,
        &--best,
        &--casual,
        &--wools {
          @extend .hero__heading;
        }

        &--summer {
          font-size: u.rem(28);
          line-height: 1;

          span {
            font-size: u.rem(72);
            font-weight: 900;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: u.rem(8);
          }
        }

        &--best {
          // color: #f3adad;
          font-size: u.rem(52);
          font-weight: 500;
          font-family: u.$serif-heading-font;
          letter-spacing: -1px;

          p {
            margin-top: u.rem(18);
            font-size: u.rem(24);
            font-weight: 400;
            letter-spacing: 5px;
            line-height: 1.2;
          }
        }

        &--casual {
          font-weight: 500;
        }

        @include u.breakpoint(tablet) {
          &--summer {
            font-size: u.rem(40);

            span {
              font-size: u.rem(112);
              margin-top: u.rem(18);
            }
          }

          &--best {
            font-size: u.rem(80);

            p {
              font-size: u.rem(32);
            }
          }

          &--casual,
          &--wools {
            font-size: u.rem(48);
            letter-spacing: 5px;
          }
        }

        @include u.breakpoint(desktop) {
          &--casual {
            width: 100%;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 600;
            // display: block;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before {
              content: 'new arrival';
              font-size: u.rem(44);
              display: block;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.3);
              position: absolute;
              z-index: 1;
              top: 75%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
            }

            &::after {
              content: 'new arrival';
              font-size: u.rem(56);
              display: block;
              font-weight: 700;
              color: #fff;
              position: absolute;
              z-index: 3;
              top: 25%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
            }
          }
        }
      }

      &--summer,
      &--best,
      &--casual,
      &--wools {
        @extend .overlay;
      }

      &--best {
        font-size: u.rem(52);
        font-weight: 500;
        font-family: u.$serif-heading-font;
        letter-spacing: -1px;

        p {
          margin-top: u.rem(16);
          font-size: u.rem(24);
          font-weight: 400;
          letter-spacing: 5px;
          line-height: 1.2;
        }
      }

      &--summer {
        background-color: rgba(255, 146, 146, 0.3);

        @include u.breakpoint(desktop) {
          background-color: rgb(245, 142, 142);
        }
      }

      &--best {
        background-color: rgba(67, 15, 15, 0.4);
      }

      &--casual {
        // background-color: rgba(124, 153, 172, 0.3);
        background-color: rgba(94, 204, 226, 0.7);
        @include u.breakpoint(desktop) {
          background-color: #5ecbe2;
          height: 60%;
          @include u.flex();
        }
      }

      &--wools {
        background-color: rgba(43, 138, 62, 0.6);
      }
    }
  }

  &__imgs-container {
    height: 100%;
    width: 100%;
    @include u.flex();
    // flex: 1;

    .hero__img {
      // width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      // @include u.flex();
      margin: auto;

      &--summer,
      &--best,
      &--casual,
      &--wools {
        @extend .hero__img;
      }

      // &--summer,
      // &--best {
      //   padding: u.rem(32) 0;
      // }

      &--casual {
        padding: u.rem(16) 0;
      }
    }

    @include u.breakpoint(desktop) {
      .background-patern--summer {
        position: absolute;
        top: 12%;
        right: 13%;
        transform: translate(0, 0);
        height: 70%;
        width: 30%;
        border: solid 2px rgba(39, 123, 192, 0.5);

        &::after {
          content: '';
          position: absolute;
          top: 6%;
          right: 8%;
          transform: translate(0, 0);
          height: 100%;
          width: 100%;
          border: solid 2px rgba(255, 179, 0, 0.5);
        }

        &::before {
          content: '';
          position: absolute;
          top: 3%;
          right: 4%;
          transform: translate(0, 0);
          height: 100%;
          width: 100%;
          border: solid 2px rgba(127, 183, 126, 0.5);
        }
      }

      .background-patern--best {
        position: absolute;
        top: 0;
        height: 70%;
        width: 40%;

        background-color: rgba(230, 230, 247, 0);
        opacity: 1;
        background-image: radial-gradient(
            rgba(255, 255, 255, 0.47) 2px,
            transparent 2px
          ),
          radial-gradient(
            rgba(255, 255, 255, 0.203) 2px,
            rgba(230, 230, 247, 0) 2px
          );
        background-size: 20px 20px;
        background-position: 0 0, 30px 30px;
      }

      .background-patern--casual {
        position: absolute;
        top: 0;
        height: 100%;
        width: 35%;

        background-color: rgba(230, 230, 247, 0);
        opacity: 0.1;
        background: repeating-linear-gradient(
          -45deg,
          #fa362c,
          #fa362c 2px,
          rgba(230, 230, 247, 0) 2px,
          rgba(230, 230, 247, 0) 10px
        );
      }

      .hero__img--summer,
      .hero__img--best {
        transform: scale(1.1);
        position: absolute;
        z-index: 2;
        padding: u.rem(32) 0;
      }

      .hero__img--casual {
        transform: scale(1.3);
        // #FA372C
      }

      .hero__img--best {
        margin-bottom: u.rem(20);
        // background: radial-gradient(#e96f6f, #e03131);
        // z-index: -1;
      }
    }
  }
}
